body{
	background-color: #DDD;
}
h4{
	position: fixed;top:0;left:0;background: #FFF;z-index:10000;
}

.onirim{
	display: block;
	border: solid 1px #CCC;
	background-color: #FFF;
	padding: 0;
	margin:20px auto;
}